@keyframes shimmer {
    0% {
      background-position: -200px 0; /* Начальная позиция за пределами экрана слева */
    }
    100% {
      background-position: 200px 0; /* Конечная позиция за пределами экрана справа */
    }
  }
  
  .shimmer-text {
    color: transparent; 
    background: linear-gradient(to right, #7c150c, #9b0a0a); 
    background-clip: text; 
    -webkit-background-clip: text; 
    animation: shimmer 5s infinite linear; 
  }


