/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Malefissent";
  src: url("../../public/fonts/font.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Malefissent", sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #486d8e);
}

/* Оптимизированные медиа-запросы для .ornek */
@media (min-width: 300px) and (max-width: 359px) {
  .ornek {
    margin-top: calc(-170px - (172px - 170px) * ((100vw - 300px) / (359px - 300px)));
    margin-left: 55px;
  }
}

@media (min-width: 360px) and (max-width: 399px) {
  .ornek {
    margin-top: calc(-200px - (220px - 200px) * ((100vw - 360px) / (399px - 360px)));
    margin-left: 64px;
  }
}

@media (min-width: 400px) {
  .ornek {
    margin-top: -220px;
    margin-left: 68px;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

@keyframes horseWalk {
  0% {
    transform: translateX(-200%);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(10%) rotateY(180deg);
  }
  100% {
    transform: translateX(-100%);
  }
}

.horse-animation {
  animation: horseWalk 15s linear infinite;
}

@keyframes zoomInAndOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.urta-animation {
  animation: zoomInAndOut 10s ease-in-out infinite;
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.tilt-animation {
  animation: tiltAnimation 10s ease-in-out infinite alternate;
}

.shimmer-text {
  color: transparent;
  background: linear-gradient(to right, #7c150c, #b61919, #f0f0f0, #486d8e);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 2s linear infinite;
}
